footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: $primary-green;

    font-size: 1.6rem;
    color: #fff;


    #footer-container {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 85%;
        max-width: 1444px;


        
        padding:  1.6rem 0;
    }
}

#page-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    

    font-size: 1.8rem;

    width: 100%;
    #page-selector-container {
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 1.6rem;

        width: 85%;
        max-width: 1444px;
        #btn-container {

            display: flex;
            align-items: center;
            justify-content: right;
            gap: 1.0rem;

            button {
                font-size: 1.8rem;
            }
        }

        

    }

}