header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: $primary-green;

    font-size: 1.6rem;


    #header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        max-width: 1444px;

        
        padding:  1.6rem 0;

        #logo-area {
            h1 {
                color: #fff;
                &:hover {
                    cursor: pointer;
                    color: $primary-two;
                }
            }
        }

        #search-bar {
            input {
                font-size: 1.6rem;
                padding:  0.4rem  0.8rem;
            }

            button {
                font-size: 1.6rem;
                padding:  0.4rem  0.8rem;
            }
        }
    }
}