main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.2rem;


    
    width: 100%;

    #main-container {
        display: flex;
        flex-direction: column;
        width: 85%;
        max-width: 1444px;
        gap: 3.2rem;
    }
}